@using Domain.Entities.Regions
@{
    List<Region> regions = ViewBag.regions;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="d-flex justify-content-between">
            <div class="w-100 ">
                <form asp-action="Regions" asp-controller="Admin" class="input-group  w-25" style="height: 40px;
                 margin: 18px 26px 0px 0px;direction: ltr">
                    <input type="text" class="form-control" name="search" placeholder=""
                           aria-label="Example text with button addon"
                           aria-describedby="button-addon1">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon1">جستجو</button>

                </form>
            </div>
            <div>
                <button type="button" class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#InsertModal">افزودن
                </button>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>نام</th>
                    <th>استان</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @{
                    foreach (var i in regions)
                    {
                        <tr onclick="openEditModal(@i.Id, '@i.Title', @(i.ParentId ?? 0))">

                            <td>
                                <strong>@i.Title</strong>
                            </td>

                            <td>
                                <strong>@(i.Parent?.Title ?? "-")</strong>
                            </td>

                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="javascript:void(0);"
                                           data-bs-toggle="modal"
                                           data-bs-target="#UpdateModal">
                                            <i class="bx bx-edit-alt me-1"></i>
                                            ویرایش
                                        </a>

                                        <form method="post"
                                              asp-page-handler="DeleteCat">
                                            <input type="hidden" name="id" value="@i.Id"/>

                                            <button type="submit" class="dropdown-item">
                                                <i class="bx bx-trash me-1"></i>
                                                حذف
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="InsertModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <form method="post"
                  asp-action="InsertRegion">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">افزودن استان</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <div class="mb-3">
                            <label class="form-label">نام</label>
                            <input type="text"
                                   name="title"
                                   class="form-control"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">استان والد</label>

                            <select name="parentId" class="form-control">
                                <option value="">انتخاب کنید</option>

                                @{
                                    foreach (var item in regions.Where(x => x.ParentId == null))
                                    {
                                        <option value="@item.Id">
                                            @item.Title
                                        </option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            بستن
                        </button>

                        <button type="submit"
                                class="btn btn-primary">
                            ذخیره
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

    <div class="modal fade" id="UpdateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <form method="post"
                  asp-action="UpdateRegion">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">ویرایش استان</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden"
                               id="Id"
                               name="id"/>

                        <div class="mb-3">
                            <label class="form-label">نام</label>

                            <input type="text"
                                   id="name"
                                   name="title"
                                   class="form-control"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">استان والد</label>

                            <select id="parentId"
                                    name="parentId"
                                    class="form-control">

                                <option value="">انتخاب کنید</option>

                                @{
                                    foreach (var item in regions.Where(x => x.ParentId == null))
                                    {
                                        <option value="@item.Id">
                                            @item.Title
                                        </option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            بستن
                        </button>

                        <button type="submit"
                                class="btn btn-primary">
                            ذخیره
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
<script>
    function openEditModal(id, title, parentId) {

        document.getElementById("Id").value = id;
        document.getElementById("name").value = title;
        document.getElementById("parentId").value = parentId;
    }
</script>